app Component (All Components src/...)

<!-- <app-life-cycle-component></app-life-cycle-component>     life cycle oc component -->

 <!--<app-structural-directives></app-structural-directives>    Structural Directives      -->

<!-- <app-attribute-directive></app-attribute-directive>       attributes directives   -->

<!-- <app-interpolation></app-interpolation>                  interpolation Component   -->

<!--  <app-event-binding></app-event-binding>                  Event Binding Component   -->

<!-- <app-property-binding></app-property-binding>             Property Binding Component   -->

 <!-- <app-add-student></app-add-student>                    student (module) -- add-student component   -->

 <!-- <app-ip-op-component [title]="student1.title" [name]="student1.name"  [mobile]="student1.mobile" [email]="student1.email"
                      (buttonClick)="buttonClickEventHandler($event)"
                      [item]="data">
</app-ip-op-component> <button (click)="updateChild()" >Update Child Component</button> -->    <!-- Comp Ip Op-->

<!-- InLine HTML CSS -->
 <!-- <app-inline-both></app-inline-both>   <app-inline-style></app-inline-style>  <app-inline-template></app-inline-template> -->

<!-- same as ip-op-component -->
<!-- <app-child-to-parent-data (updateDataEvent)="updateData($event)"></app-child-to-parent-data>{{demo}}    child comp. to parent comp. data share -->

<!-- <app-pipes></app-pipes>          Pipes -->

<!-- Forms -->
<!-- <app-simple-form></app-simple-form> -->
<!-- <app-template-derven-form></app-template-derven-form> -->

<!-- Routing -->
 <!-- <nav>                                  By Default First Fiest linl First page here
  <a routerLink = "app-compoent">  App Component  | </a>
  <a routerLink = "genral">Genral Component  | </a>
  <a routerLink = "pipes">Pipe Component  |  </a>
  <a routerLink = "structural-directives">Structural Directives Component</a>
</nav>
<router-outlet></router-outlet> -->

<!-- Dynamic Routing  -->
<!-- <nav>
  <a routerLink = "app-compoent/10">  APP  | </a>
  <a routerLink = "genral/20">Genral  | </a>
  <a routerLink = "pipes/30">Pipe  |  </a>
  <a routerLink = "structural-directives/40">Structural </a>
</nav> -->
<!-- <router-outlet></router-outlet> -->

<!-- Child Routing  Not Working -->
<!-- <nav>
  <a routerLink="inline-both"> Inline Both</a>
  <a routerLink="inline-style"> Inline Style </a>
  <a routerLink="inline-template"> Inline Template</a>
</nav>
<router-outlet></router-outlet> -->


<!-- Services -->
<!-- <app-user></app-user>
<app-emply></app-emply> -->






<!-- Additional Practices -->
  <!-- <app-header-component></app-header-component> -->

<!-- Genral Practices -->
  <!-- <app-genral></app-genral> -->




















