<!DOCTYPE html>
<html lang="en">
<head>
    <title>Profile Page</title>
</head>
<body>
    <h1>Profile Page </h1>
    <hr>
    <h2>Welcome, <%= user.name %></h2>
    <h2>Age : <%= user.age %></h2>
    <h2>City : <%= user.city %></h2>
    <h2>Hobbies : <%= user.hobbies %></h2>
    <br><br><br><br>

    <a href="/"> <h3> Home </h3></a>
    
    
</body>
</html>