<!DOCTYPE html>
<html lang="en">
<head>
    <title>Contact Page</title>
</head>
<body>
    <!-- Include the header -->
    <%- include('header') %>

    <h1>Contact Us</h1>
    <p>This is the Cintact page content.</p>
    
</body>
</html>
